# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

***objectives:***
- List popular languages that Data Scientists use
- List commonly used libraries used by Data Scientists
- Make 3x1 table with open source data science tools
- Add some code to show basic aritmetic operations in python

Some of the popular languages that Data Scientists use are:
 1. Python
 2. R
 3. SQL
 4. C++
 5. Java
 6. Julia

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Matplotlib
3. Pandas

| Data Science Tools |
| ------------------ |
| Jupiter Lab |
| Jupiter Notebook |
| Spyder |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
 # This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60

hours = 200/60

print("200 minutes is " + str(round(hours,2)) +" hours.")

200 minutes is 3.33 hours.

## Author

Jan Matejka